<div class="row">
  <div class="large-4 large-8 columns">

<%= simple_form_for(@quote) do |f| %>
  <%= f.error_notification %>
  <%= f.input :quote_type %>
  <%= f.input :wedding_style, collection: ["Ceremony Photos", "Reception Photos", "Ceremony Preparation", "Engagement Photos", "Family Photos", "Not Sure Yet", "Other"], as: :radio %>
  <%= f.input :budget, collection: ["Less than $500", "$500-1000", "$1000+"] %>
  <%= f.input :comments %>
  <%= f.input :event_date %>
  <%= f.input :event_time %>
  <%= f.input :zip_code %>
  <%= f.input :solicitation_type %>
    <%= f.error :base %>
    <%= f.button :submit %>
  </div>
<% end %>
</div>
</div>