<p id="notice"><%= notice %></p>

<p>
  <strong>Business name:</strong>
  <%= @vendor.business_name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @vendor.phone_number %>
</p>

<p>
  <strong>Website:</strong>
  <%= @vendor.website %>
</p>

<p>
  <strong>Business desc:</strong>
  <%= @vendor.business_desc %>
</p>

<p>
  <strong>Headline:</strong>
  <%= @vendor.headline %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @vendor.street_address %>
</p>

<p>
  <strong>Apt ste:</strong>
  <%= @vendor.apt_ste %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @vendor.zipcode %>
</p>

<p>
  <strong>Show info:</strong>
  <%= @vendor.show_info %>
</p>

<p>
  <strong>Travel:</strong>
  <%= @vendor.travel %>
</p>

<p>
  <strong>First name:</strong>
  <%= @vendor.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @vendor.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @vendor.email %>
</p>

<p>
  <strong>Encrypted password:</strong>
  <%= @vendor.encrypted_password %>
</p>

<%= link_to 'Edit', edit_vendor_path(@vendor) %> |
<%= link_to 'Back', vendors_path %>
